/* Empty. Add your own CSS if you like */

@media (min-width: 767px) {
  /*.menu-content {
    -webkit-transform: translate3d(270px, 0px, 0px) !important;
    width: calc(100% - 270px) !important;
  } */

  .bar-header button.ion-navicon {
    display: none;
  }
}
