/* Empty. Add your own CSS if you like */

/* Login Modal
============================================================================= */
.modal-backdrop-bg {
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  background-color: #000;
  opacity: 0;
}

.modal-backdrop {
    background: url(../img/background.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.slide-in-up {
  -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.slide-in-up.ng-enter, .slide-in-up > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 1.5s;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 1.5s;
 }

.slide-in-up.ng-enter-active, .slide-in-up > .ng-enter-active {
  -webkit-transform: translateY(0);
    transform: translateY(0);
}

.slide-in-up.ng-leave, .slide-in-up > .ng-leave {
  -webkit-transition: all ease-in-out 1.5s;
  transition: all ease-in-out 1.5s;
 }
 /* Login Modal
 ============================================================================= */
 .modal {
     top: 20%;
     right: 15%;
     bottom: 25%;
     left: 10%;
     min-height: 240px;
     width: 80%;
 }

@media (min-width: 767px) {
  /*.menu-content {
    -webkit-transform: translate3d(270px, 0px, 0px) !important;
    width: calc(100% - 270px) !important;
  } */

  .bar-header button.ion-navicon {
    display: none;
  }
}

.item-avatar span{
    vertical-align: -webkit-baseline-middle;
}

/* Logout Dropdown */
.dropdown{
    position: relative;
}
.dropdown .ion-arrow-down-b{
    vertical-align:  -webkit-baseline-middle;
}
.drop-nav{
    position: absolute;
    background-color: #86CFE4;;
    padding: 10% 24%;
    margin-top: 5%;
    border-bottom: 1px solid rgba(255,255,255, .2);
    display: none;
}
.drop-nav li{
    cursor: pointer;
    margin: 0% -9% 0% -23%;
    /*border-bottom: 1px solid rgba(255,255,255, .2);*/
}
.dropdown:hover > .drop-nav{
    display: block;
}
/* Logout Dropdown */
